/*

Classes :
.animated_v_caret : default

*/

.animated_v_caret {
  cursor: pointer;
  display: inline;

  line {
    stroke: var(--x, var(--paragraph));
    transition: stroke .3s;
  }

  &.active {
    line {
      stroke: var(--x, var(--paragraph));
    }
  }
}
